html {
  margin: 0;
  padding: 0;
}

body{
  margin: 250px auto 5 auto;
  width: 65%;
  text-align: right;
  textStyle(BOLD);
  text('Permanent Marker', 65, 65);
  
}
canvas {
  margin: auto;
  top: 1;
  left: 1;
  position: left;
}
