html {
  margin: 0;
  padding: 0;
}

body{
  margin: 250px auto 5 auto;
  width: 65%;
  text-align: left;
  textStyle(BOLD);
  text('PT Sans', 10, 65);
  
}
body{
  height: 100%;
}
  .bg {
      /* The image used */
      background-image: url("Jak_3.png");
      /* Full height */
      height: 100%
      /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        bacground-size: cover;
}
canvas {
  margin: auto;
  top: 10;
  left: 10;
  position: absolute;
}
